In [1]:
 %reload_ext sql

In [2]:
%sql sqlite:///cinema843.db

In [3]:
%%sql
-- tous les films aprÃ¨s 1992
SELECT * FROM film WHERE annee >= 1992;

 * sqlite:///cinema843.db
Done.

[(1, 15, 'Crash', 'Drame', 1996),
 (3, 14, 'Pulp Fiction', 'Policier', 1994),
 (4, 13, 'Breaking the waves', 'Drame', 1996),
 (5, 13, 'Dogville', 'Drame', 2002),
 (9, 19, 'Minuit dans le jardin du bien et du mal', 'Policier', 1998),
 (10, 21, 'American Beauty', 'Drame', 1999),
 (11, 19, "L'Echange", 'Drame', 2008)]